#panel {
 font-family: "Noto Sans", sans-serif;
 font-size: 13px;
}

#panel #panelLeft, #panel #panelCenter {
 spacing: 0;
}

#panel .panel-button {
 -natural-hpadding: 4px;
 -minimum-hpadding: 4px;
}

#panel .panel-button StLabel {
 padding: 0;
}

#panel .panel-button.clock-display .clock {
 padding: 0 8px;
}

#panel .panel-button .system-status-icon {
 icon-size: 16px;
 padding: 4px;
 margin: 0 2px;
}

#panel .panel-button .panel-status-menu-box .system-status-icon {
 margin: 0;
}

#panel .panel-button .panel-status-menu-box StLabel {
 padding: 0 0 0 2px;
}

#panel .panel-button .panel-status-menu-box,
#panel .panel-button .panel-status-indicators-box {
 spacing: 2px;
}

#panel .panel-button .appindicator-trayicons-box,
#panel .panel-button .panel-status-indicators-box.appindicator-box {
 margin: 0 4px;
}

#panel .panel-button .clipboard-indicator-icon {
 margin: 0 4px;
}

#panel .panel-button .app-menu-icon {
 -st-icon-style: symbolic;
}

#panel Gjs_ui_panel_AggregateMenu.panel-button .system-status-icon {
 margin: 0 !important;
 padding: 4px !important;
}

#panel Gjs_kimpanel_kde_org_indicator_KimIndicator.panel-button .panel-status-menu-box {
 margin: 0 4px;
}
